#!/usr/bin/env bash

# Template for rsync from src to des
# Managed by ansible
# Role: systemd-timer
# {{ item.key }}

/usr/local/bin/timemachine {{ item.value.backup.src }} {{ item.value.backup.des }}
